* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  color: #404040;
  font-size: 20px;
  font-weight: 600;
}
h3 {
  color: #404040;
  font-size: 25px;
}
h1 {
  font-size: clamp(
    2rem,
    8vw,
    4rem
  ); /* Responsif otomatis: min 40px, max 64px */
  color: #404040;
  font-weight: 700;
  line-height: 1.2;
}
p {
  font-size: 16px;
  color: #404040;
  font-weight: 500;
}
.p-half {
  font-size: 16px;
  color: #6a6a6a;
}
.p-secondary {
  font-size: 16px;
  color: #404040;
  font-weight: 500;
  opacity: 0.5;
}
a {
  font-weight: 500;
}

.danger {
  color: #ff4d4d;
}
.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  background: url("/bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.bottomGradient {
  width: 100%;
  height: 50dvh;
  background: #f0f0f0;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 0) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  z-index: 0;
  position: absolute;
  bottom: 0;
}

/* link page______________________________________ */
.linkPage {
  max-width: 1440px;
  width: 100%;
  height: 100dvh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.link-page-content {
  width: 100%;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.l-p-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.l-p-title span {
  background-color: #d7f4f0;
  border-radius: 500px;
  border: 1px solid rgba(39, 147, 132, 0.1);
  display: flex;
  width: 500px;
  height: 84px;
  flex-direction: column;
  overflow: hidden;
}

.l-p-title span h1 {
  color: #279385;
  width: 100%;
  height: 84px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  animation: scroll-auto 9s infinite;
}

@keyframes scroll-auto {
  0%,
  25% {
    transform: translateY(0);
  }
  33%,
  58% {
    transform: translateY(-100%);
  }
  66%,
  91% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.last-word {
  display: none;
}

.l-p-input {
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 1px solid hsla(0, 0%, 25%, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 500px;
  padding: 2px 2px 2px 20px;
  border: 1px solid hsla(0, 0%, 25%, 0.2);
  gap: 10px;
}
.l-p-input input {
  border: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.l-p-input input:focus {
  outline: none;
}

.qr-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}
.qr-button:hover {
  background-color: #e3e3e3;
  transition: 0.2s;
}
.qr-button:active {
  background-color: #c9c9c9;
  transition: 0.2s;
}

.qr-button-pc {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.qr-b-pc-content {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  background-color: white;
  width: 220px;
  height: 220px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.26);
}
.qr-b-pc-content input {
  display: none;
}
.qr-input-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
}
.qr-input-image p {
  color: #8c8c8c;
  font-weight: 600;
  font-size: 14px;
}

.triangle {
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  bottom: 45px;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.26);
}
.layer-close {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  z-index: 2;
  left: 0;
  top: 0;
}

.url-analis-button {
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #404040;
  border-radius: 500px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.url-analis-button:hover {
  background-color: #5d5d5d;
  transition: 0.2s;
}

.loading-animation {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .linkPage {
    justify-content: start;
    gap: 3vh;
  }
  .linkPage-title-desc {
    display: none;
  }
  .last-word {
    display: block;
  }
  .l-p-title span {
    display: none;
  }
}
