* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  color: #404040;
  font-size: 20px;
  font-weight: 600;
}
h3 {
  color: #404040;
  font-size: 25px;
}
h1 {
  font-size: clamp(
    2rem,
    8vw,
    4rem
  ); /* Responsif otomatis: min 40px, max 64px */
  color: #404040;
  font-weight: 700;
  line-height: 1.2;
}
p {
  font-size: 16px;
  color: #404040;
  font-weight: 500;
}
.p-half {
  font-size: 16px;
  color: #6a6a6a;
}
.p-secondary {
  font-size: 16px;
  color: #404040;
  font-weight: 500;
  opacity: 0.5;
}
a {
  font-weight: 500;
}

.danger {
  color: #ff4d4d;
}
.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  background: url("/bg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.bottomGradient {
  width: 100%;
  height: 50dvh;
  background: #f0f0f0;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 0) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  z-index: 0;
  position: absolute;
  bottom: 0;
}

/* link page______________________________________ */
.linkPage {
  max-width: 1440px;
  width: 100%;
  height: 100dvh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.link-page-content {
  width: 100%;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.l-p-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.l-p-title h1:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #279385;
  background-color: #d7f4f0;
  padding: 0 15px;
  padding-bottom: 5px;
  border-radius: 500px;
  border: 1px solid rgba(39, 147, 132, 0.1);
}

.l-p-input {
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 1px solid hsla(0, 0%, 25%, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 500px;
  padding: 2px 2px 2px 20px;
  border: 1px solid hsla(0, 0%, 25%, 0.2);
  gap: 10px;
}
.l-p-input input {
  border: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.l-p-input input:focus {
  outline: none;
}

.url-analis-button {
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #404040;
  border-radius: 500px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.url-analis-button:hover {
  background-color: #5d5d5d;
  transition: 0.2s;
}

.loading-animation {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .linkPage {
    justify-content: start;
    gap: 3vh;
  }
  .linkPage-title-desc {
    display: none;
  }
}
